.preview {
    width: 540px;
    height: 80px;
    flex-shrink: 0;
    background: var(--Dark-Grey, #24232C);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 19px 32px;
    margin-bottom: 24px;
}

h1 {
    color: var(--Almost-White, #E6E5EA);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Heading (L) */
    font-family: JetBrains Mono;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.copiedBtn:active {
    stroke: #fff;
}