.range {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.range>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}